<app-header titulo="Card"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, necessitatibus tempore praesentium maiores id a tempora nulla omnis tenetur repellat eveniet totam inventore itaque ex reprehenderit, quos nisi optio? Harum!
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="/assets/shapes.svg" alt="">

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis exercitationem, porro consequuntur ratione voluptates quo sint. Corporis quo voluptatibus cupiditate fuga! Provident, mollitia officia error praesentium sint reprehenderit nihil.
    </ion-card-content>
  </ion-card>

</ion-content>